/* Tailwind Configuration */
@tailwind base;
@tailwind components;
@tailwind utilities;


/* Font from Google Font */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smoothing;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Playfair Display', 'Quicksand'
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1;
  font-weight: 400;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,
h2,
h3,
h4,
h5,
h6,
.font-Playfair {
  font-family: 'Playfair Display', sans-serif;
  ;
}

header {
  background: radial-gradient(#FDFBF7, #fff);
}

.title-gradient {
  background: linear-gradient(to bottom right, #FDFBF7, #fff);
}